@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

body {
	background-color: #000000 !important;
}

#logo {
	text-align: center;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	margin: 10px;
	color: #783C00;
	text-shadow: 1px 1px 4px #783C00;
}

#sublogo {
	margin-top: -30px;
}

#topo {
	font-size: 60px;
	text-align: center;
	margin: 10px;
	margin-top: 100px;
	color: #FFFFFF;
	
}

#botoes {
	text-align: center;
	margin: 20px;
	padding: 10px;
	font-size: 50px;
}

#botao {
	margin: 20px;
	width: 200px;
	padding: 10px;
	font-size: 15px;
}