@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

body {
	background-color: #000000 !important;
}

#logo {
	text-align: center;
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	margin: 10px;
	color: #783C00;
	text-shadow: 1px 1px 4px #783C00;
}

#sublogo {
	margin-top: -30px;
}

#container {
	margin: 10px;
	padding: 10px;
	width: 30%;
	height: 47%;
	position: absolute;
	top: 25%;
	left: 34%;
	background-color: #FFFFFF !important;
	border-radius: 15px;
}

form {
	margin: 20px !important;
}

label {
	font-size: 20px;
}

button {
	font-size: 18px;
	width: 100%;
}

#aluno {
	font-size: 15px;
	margin: 20px;
}
 
/* Telefones em paisagem e abaixo */
@media (max-width: 549px) { 
     #container {
		margin: 10px;
		padding: 10px;
		width: 70%;
		height: 52%;
		position: absolute;
		top: 25%;
		left: 14%;
		background-color: #FFFFFF !important;
		border-radius: 15px;
	}
 }
 
/* Telefones em paisagem a tablet em retrato */
@media (min-width: 550px) and (max-width: 767px) {
     #container {
		margin: 10px;
		padding: 10px;
		width: 55%;
		height: 47%;
		position: absolute;
		top: 25%;
		left: 22%;
		background-color: #FFFFFF !important;
		border-radius: 15px;
	}
}
 
/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
     #container {
		margin: 10px;
		padding: 10px;
		width: 45%;
		height: 47%;
		position: absolute;
		top: 25%;
		left: 27%;
		background-color: #FFFFFF !important;
		border-radius: 15px;
	}
}

/* Desktop grande */
@media (min-width: 980px) and (max-width: 1200px) {
    #container {
		margin: 10px;
		padding: 10px;
		width: 35%;
		height: 47%;
		position: absolute;
		top: 25%;
		left: 31%;
		background-color: #FFFFFF !important;
		border-radius: 15px;
	}
}
 
